<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AutoSqli-Instructions</title>
<link href="/static/css/zxmk.css" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" href="static/images/favicon.ico">
<script src="/static/js/core.js" type="text/javascript"></script>
<script src="/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<style>
</style>
</head>
<body>
<div class="top-nav">
  <div class="w1000 clearfix">
    <a href="/">AutoSqli Tools</a>
    <a href="quickbuild.html" style="font-size:15px;padding-left:200px;">Quickly Bulid</a>
    <a href="customtask.html" style="font-size:15px;padding-left:60px;">Custom Task</a>
    <a href="tasklist.html" style="font-size:15px;padding-left:60px;">Task List</a>
    <a href="instructions.html" style="font-size:15px;padding-left:60px;">Instructions</a>
  </div>
</body>
</html>


