<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AutoSqli-TaskLog</title>
<link href="/static/css/zxmk.css" rel="stylesheet" type="text/css"/>
<script src="/static/js/ajax.js" type="text/javascript"></script>
<script src="/static/js/core.js" type="text/javascript"></script>
<script src="/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
function update_logbox(){
	var url="/tasklog.html";
	url=url+"?action=refresh&taskid={{TaskID}}";
	var log_p=document.getElementById("log_p");
	loadXMLDocByGet(url,function(){
		if(xmlhttp.readyState==4&&xmlhttp.status==200){
			if(xmlhttp.responseText!="terminated")
				log_p.innerHTML=xmlhttp.responseText;
			else
				window.clearinterval();

		}
	});
}
</script>
<style>
.clear{height: 100px;float: left;clear: both;}
.log_box{width: 900px;float:left;clear: both;font-size: 20px;color: white;border-width: 3px;border-style: dashed;border-radius: 8px;padding:10px 40px 10px 40px;margin: 10px 40px 0px 130px;}
.button{float: left;clear:both;color:white;padding: 5px 15px 5px 15px;border-width: 2px;border-style: solid; border-color: white;border-radius: 4px;margin-left: 140px;margin-top:10px;font-size: 15px;}
</style>
</head>
<body>
<div class="top-nav">
  <div class="w1000 clearfix">
    <a href="/">AutoSqli Tools</a>
    <a href="quickbuild.html" style="font-size:15px;padding-left:200px;">Quickly Bulid</a>
    <a href="customtask.html" style="font-size:15px;padding-left:60px;">Custom Task</a>
    <a href="tasklist.html" style="font-size:15px;padding-left:60px;">Task List</a>
    <a href="instructions.html" style="font-size:15px;padding-left:60px;">Instructions</a>
  </div>
  <div class="clear">
  </div>
 </div>
 <p class="button" onclick="update_logbox()">Refresh</p>
 <div class="log_box">
 	<p><span><strong>TargetURL:</strong></span>{{TargetURL}}</p>
 	<p><span><strong>TaskID:</strong></span>{{TaskID}}</p>
 	<p><span><strong>Log:</strong></span></p>
 	<p id="log_p">{{Log|safe}}</p>
 </div>
</body>
</html>



