<html>
<head>
<title>test3</title>
<meta charset="utf-8"></meta>
</head>
<body>
<table width="200" border="1" style="border-collapse:collapse;text-align:center;">
<caption>基本数据</caption>  
<tr>
    <td>DBMS</td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td>Suffix</td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td rowspan="2">Clause</td>
    <td colspan="2">clause1</td>
  </tr>
  <tr>
    <td colspan="2">clause2</td>
  </tr>
  <tr>
    <td>ptype</td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td rowspan="2">DBMS_Version</td>
    <td colspan="2">dbms_version1</td>
  </tr>
  <tr>
    <td colspan="2">dbms_version2</td>
  </tr>
  <tr>
    <td>place</td>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td rowspan="6">conf</td>
    <td>string</td>
    <td>&nbsp;</td>
  </tr>
<tr>
<td>noString</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>titles</td>
<td>&nbsp;</td>
</tr>
<tr>
<td >regexp</td>
<td >&nbsp;</td>
</tr>
<tr>
<td >textOnly</td>
<td >&nbsp;</td>
</tr>
<tr>
<td >optimize</td>
<td >&nbsp;</td>
</tr>
<tr>
    <td>parameter</td>
    <td colspan="2"></td>
  </tr>
<tr>
    <td>OS</td>
    <td colspan="2"></td>
  </tr>
</table>
 <!-- <tr>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="3">&nbsp;</td>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td >&nbsp;</td>
  </tr>-->
<table width="200" border="1" style="border-collapse:collapse;text-align:center;">
<caption>注入载荷详情</caption> 
<tr>
<th>number</th>
<th>item</th>
<th>details</th>
</tr>
<tr>
    <td rowspan="7">1</td>
    <td>comment</td>
    <td>&nbsp;</td>
  </tr>
<tr>
<td>matchRatio</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>title</td>
<td>&nbsp;</td>
</tr>
<tr>
<td >templatePayload</td>
<td >&nbsp;</td>
</tr>
<tr>
<td >vector</td>
<td >&nbsp;</td>
</tr>
<tr>
<td >where</td>
<td >&nbsp;</td>
</tr>
<tr>
<td >payload</td>
<td >&nbsp;</td>
</tr>
<table>
</table>
</bidy>
</html>
